

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 25%;
  margin: 6px;
}

figure {
  margin: 0;
  display: inline;
  position: relative;
}

.film {
  width: 100%;
  margin: 40px 30px;
  display: inline-block;
  border: 5px solid grey;
  position: relative;
}

.action-watch-later {
  display: inline-block;
  position: absolute;
  right: 14px;
  margin-top: 9px;
  color: red;
}

.film-details {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  margin-left: 20px;
  /* position: absolute; */
}

  .action-like {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: red;

}
